@model Devedores.Models.ViewModel.DevedorFormViewModel 

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Devedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Devedor.Id" />
            <div class="form-group">
                <label asp-for="Devedor.PessoaId" class="control-label"></label>
                <select asp-for="Devedor.PessoaId" asp-items="@(new SelectList(Model.Pessoas,"Id","Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Devedor.Valor" class="control-label"></label>
                <input asp-for="Devedor.Valor" class="form-control" />
                <span asp-validation-for="Devedor.Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Devedor.Pago" class="col-lg-2 control-label" style="top: 12px;margin-left: -15px">Pago</label>
                <div class="col-lg-10">
                    <input asp-for="Devedor.Pago" class="form-control" style="width:50px; margin-left:-25px" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn btn-warning" style="margin-top: 10px;"/>
            </div>
        </form>
    </div>
</div>

